img{
  max-width: 75%;
  max-height: 75%;
}

.con{
  color: red;
}
.act{
  color: blue;
}

.rec{
  color: green;
}

.dec{
  color: yellow;
}
.state-name{
  font-weight: bold;
}

td{
  margin: auto;
  text-align: center;
}
.one{
  text-align: left;
}
button{
  background: white;
  border: 0px;
  text-align: left;
  font-weight: bold;
  margin-bottom: 15px;
}
th{
  font-size: 1em;
  letter-spacing:0.1em;
  margin-bottom: 15px;
  font-weight: lighter;
  text-align: center;
}
@media only screen and (max-width: 500px) {
  td{
    font-size: 0.8em;
  }
  th{
    font-size: 0.8em;
  }
}
@media only screen and (max-width: 400px) {
  td{
    font-size: 0.7em;
  }
  th{
    font-size: 0.7em;
  }
}
