body{
  font-family: 'Josefin Sans', sans-serif;
  background: #f7f7f7;
}
h2,h3{
  font-weight: bold;
}
h1{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 60px;
  font-weight: bold;
}
img{
  max-width: 65%;
  max-height: 65%;
}
.row{
  margin-top: 90px;
}
#chartContainer{
  height: 450px;
  opacity: 0.7;
}
#states{
  text-align: left;
}
.trEvent{
  background:#d4d2d2;
}
.trow{
  transition: 1.0s;
}
.Event{
  transition: 1s;
  transform: scale(1.2);
}
.con{
  color: #cf0000;
  transition: 1s;
  cursor: pointer;
}
.act{
  color: #001dc4;
  transition: 1s;
  cursor: pointer;
}

.rec{
  color: #04b01b;
  transition: 1s;
  cursor: pointer;
}

.dec{
  color: #cdd923;
  transition: 1s;
  cursor: pointer;
}
.state-name{
  font-weight: bold;
}
tr{
  border-bottom: 1px solid lightgrey;
}
td{
  text-align: right;
}
.one{
  text-align: left;
}
th{
  width: 5%;
}
button{
  border: 0px;
  text-align: left;
  font-weight: bold;
  margin-bottom: 15px;
  background: #f7f7f7;
}
@media only screen and (min-width: 1000px) {
  td{
    font-size: 1.4em;
  }
  th{
    font-size: 1.6em;
  }
}
@media only screen and (max-width: 1000px) {
  td{
    font-size: 1em;
  }
  th{
    font-size: 1.4em;
  }
}
@media only screen and (max-width: 750px) {
  td{
    font-size: 0.8em;
  }
  th{
    font-size: 1em;
  }
}
@media only screen and (max-width: 500px) {
  td{
    font-size: 0.8em;
  }
  th{
    font-size: 1em;
  }
}
@media only screen and (max-width: 400px) {
  td{
    font-size: 0.7em;
  }
  th{
    font-size: 0.7em;
  }
}
