body {
  font-family: 'Josefin Sans', sans-serif;
  background: #f7f7f7;
  font-size: 1.3em;
}

#head {
  margin-top: 70px;
}

.navbar-cust {
  background-color: #ce0f3d;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
  color: white;
}
h1 {
  margin-top: 14px;
}

h5 {
  font-weight: bolder;
}

.grey {
  background-color: #ececec;
  padding: 2px;
}

/* .navbar-dark .navbar-nav .active > .nav-link:hover{
  color: white;
} */
footer {
  height: 65px;
  color: white;
  padding-top: 17px;
  margin-top: 14px;
  background-color: #ce0f3d;
  text-align: center;
}

@media only screen and (min-width: 1000px) {
  .vid {
    height: 100%;
    /* background: purple; */
  }

  iframe {
    height: 350px;
    width: 75%;
    border: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 1000px) {
  .vid {
    height: 100%;
    /* background: red; */
  }

  iframe {
    height: 300px;
    width: 100%;
    border: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 700px) {
  .vid {
    height: 100%;
    /* background: blue; */
  }

  iframe {
    height: 250px;
    width: 100%;
    border: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 400px) {
  .vid {
    /* background: yellow; */
    height: 100%;
  }

  iframe {
    height: auto;
    width: auto;
    border: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
